Repository funkrusher/fk-framework-quarkus-jooq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fk-cognitoLocal, fk-database1, fk-database2, fk-backend1, fk-backend2

fk-cognitoLocal:
  stage: triggers
  trigger:
    include: _services/fk_cognitoLocal/.gitlab-ci-fk_cognitoLocal.yml
    strategy: depend

fk-database1:
  stage: triggers
  trigger:
    include: _databases/fk_database1/.gitlab-ci-fk_database1.yml
    strategy: depend

fk-database2:
  stage: triggers
  trigger:
    include: _databases/fk_database2/.gitlab-ci-fk_database2.yml
    strategy: depend

fk-backend1:
  stage: triggers
  trigger:
    include: _services/fk_backend1/.gitlab-ci-fk_backend1.yml
    strategy: depend

fk-backend2:
  stage: triggers
  trigger:
    include: _services/fk_backend2/.gitlab-ci-fk_backend2.yml
    strategy: depend

gitlab downstream pipelines example
  .gitignore
  .gitlab-ci-fk_backend1.yml
  .gitlab-ci-fk_backend2.yml
  .gitlab-ci.yml
  README.md
  _databases/fk_database1/.gitlab-ci-fk_database1.yml
  _databases/fk_database1/docker-compose-database1.yml
  _databases/fk_database2/.gitlab-ci-fk_database2.yml
  _databases/fk_database2/docker-compose-database2.yml
  _services/fk_backend1/.gitlab-ci-fk_backend1.yml
  _services/fk_backend1/docker-compose-backend1.yml
  _services/fk_backend1/src/main/resources/templates/application-prod.properties
  _services/fk_backend2/.gitlab-ci-fk_backend2.yml
  _services/fk_backend2/docker-compose-backend2.yml
  _services/fk_backend2/src/main/resources/templates/application-prod.properties
  _services/fk_cognitoLocal/.gitlab-ci-fk_cognitoLocal.yml
  _services/fk_cognitoLocal/docker-compose-cognitoLocal.yml
  cognito-local-docker-compose.yml
  docker-compose.yml
Due: fk-cognitoLocal, fk-database1, fk-database2, fk-backend1, fk-backend2

readme
  README.md
Due: none

some diagrams
  README.md
Due: none

overview
  README.md
Due: none

diagram
  README.md
Due: none

simplify diagram
  README.md
Due: none

fixes for stuff that occured during demo
  _core/fk_core/src/main/java/org/fk/core/dao/AbstractDAO.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _services/fk_backend2/src/main/resources/application.properties
Due: fk-backend1, fk-backend2

Delete _services/fk_backend2/src/main/resources/application.properties
  _services/fk_backend2/src/main/resources/application.properties
Due: fk-backend2

add metrics, can be helpful
  _services/fk_backend1/src/main/resources/templates/application.properties
  _services/fk_backend2/src/main/resources/templates/application.properties
  settings.gradle
Due: fk-backend1, fk-backend2

fix readme
  README.md
Due: none

gradle publishing and getting reposilite example
  README.md
  _core/fk_core/build.gradle
  _databases/fk_database1/build.gradle
  _databases/fk_database2/build.gradle
  _modules/fk_library/build.gradle
  _modules/fk_product/build.gradle
  _services/fk_backend1/build.gradle
  _services/fk_backend1/src/main/resources/templates/application.properties
  _services/fk_backend2/build.gradle
  _services/fk_backend2/src/main/resources/templates/application.properties
  _services/fk_reposilite/docker-compose-reposilite.yml
  build.gradle
  gradle.properties
  settings.gradle
Due: fk-database1, fk-database2, fk-backend1, fk-backend2

stuff
  README.md
  settings.gradle
Due: none

refactor gradle files
  README.md
  _core/fk_core/build.gradle
  _databases/fk_database1/build.gradle
  _databases/fk_database2/build.gradle
  _modules/fk_library/build.gradle
  _modules/fk_product/build.gradle
  _services/fk_backend1/build.gradle
  _services/fk_backend2/build.gradle
  _services/fk_cognitoLocal/build.gradle
  build.gradle
  settings.gradle
Due: fk-cognitoLocal, fk-database1, fk-database2, fk-backend1, fk-backend2

UTC localdatetime as milliseconds since
  _core/fk_core/src/main/java/org/fk/core/jackson/LocalDateTimeDeserializer.java
  _core/fk_core/src/main/java/org/fk/core/jackson/LocalDateTimeSerializer.java
  _core/fk_core/src/main/java/org/fk/core/jackson/ObjectMapperProducer.java
  _core/fk_core/src/main/java/org/fk/core/jooq/codegen/FkJavaGenerator.java
  _core/fk_core/src/main/java/org/fk/core/util/test/PojoUnitTestSerializer.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductDTO.java
  _modules/fk_product/src/test/java/org/fk/product/controllers/ProductControllerV1Test.java
Due: fk-backend1, fk-backend2

add typical enum and use it in layers and test
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/Product.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/Product.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/interfaces/IProduct.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/records/ProductRecord.java
  _databases/fk_database1/src/main/resources/database1/liquibase/feature-1234.xml
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/init/ProductInit.java
  _modules/fk_product/src/main/java/org/fk/product/type/ProductTypeId.java
  _modules/fk_product/src/test/java/org/fk/product/controllers/ProductControllerV1Test.java
Due: fk-database1, fk-backend1, fk-backend2

refactor and clean dao-abstraction with help of several unit-tests, make unit-tests run faster
  _core/fk_core/src/main/java/org/fk/core/dao/AbstractDAO.java
  _core/fk_core/src/main/java/org/fk/core/util/ulid/UlidGenerator.java
  _core/fk_core/src/test/java/org/fk/core/test/CoreTestProfile.java
  _core/fk_core/src/test/java/org/fk/core/util/query/QueryParametersTest.java
  _modules/fk_library/src/main/java/org/fk/library/dao/AuthorDAO.java
  _modules/fk_product/src/test/java/org/fk/product/controllers/PostControllerV1Test.java
  _modules/fk_product/src/test/java/org/fk/product/controllers/ProductControllerV1Test.java
  _modules/fk_product/src/test/java/org/fk/product/dao/PostDAOTest.java
  _modules/fk_product/src/test/java/org/fk/product/dao/ProductDAOTest.java
  _modules/fk_product/src/test/java/org/fk/product/test/ProductTestProfile.java
  _services/fk_backend1/src/main/java/org/fk/backend1/controllers/CognitoLocalControllerV1.java
Due: fk-backend1, fk-backend2

add i18n test
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductPaginateDTO.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/resources/messages_de.properties
  _modules/fk_product/src/main/resources/messages_en.properties
Due: fk-backend1

split databases in mariadb-database is a use-case
  _core/fk_core/src/main/java/org/fk/core/testcontainers/FkMariaDb.java
  _databases/fk_database1/init-script.sql
  _databases/fk_database1/src/main/generated/org/fk/database1/DefaultCatalog.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/Keys.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/Tables.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/Testshop.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/Client.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/Lang.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/Keys.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/Tables.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/Testshop2.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/Product.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/ProductLang.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/dtos/Product.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/dtos/ProductLang.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/interfaces/IProduct.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/interfaces/IProductLang.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/records/ProductLangRecord.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/records/ProductRecord.java
  _databases/fk_database1/src/main/java/org/fk/database1/Database1CodeGenerator.java
  _databases/fk_database1/src/main/java/org/fk/database1/Database1ConfigurationFactory.java
  _databases/fk_database1/src/main/java/org/fk/database1/Database1Testcontainer.java
  _databases/fk_database1/src/main/resources/database1/liquibase/feature-1122.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/feature-1234.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/feature-3823.xml
  _modules/fk_product/src/main/java/org/fk/product/controller/exports/csv/ProductCsvExportControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/dao/ProductDAO.java
  _modules/fk_product/src/main/java/org/fk/product/dao/ProductLangDAO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductLangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/init/ProductInit.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-database1, fk-backend1, fk-backend2

dto validity scanner for fail-fast
  _core/fk_core/build.gradle
  _core/fk_core/src/main/java/org/fk/core/dto/BookKeeper.java
  _core/fk_core/src/main/java/org/fk/core/dto/DTOValidityScanner.java
  _core/fk_core/src/main/java/org/fk/core/jooq/codegen/FkGeneratedFilesPostProcessor.java
  _core/fk_core/src/main/java/org/fk/core/startup/Startup.java
  _core/fk_core/src/main/java/org/fk/core/startup/TimezoneSettings.java
  _core/fk_core/src/test/java/org/fk/core/dao/ProductDTO.java
  _core/fk_core/src/test/java/org/fk/core/dao/ProductLangDTO.java
  _databases/fk_core_test_database/src/main/generated/org/fk/coreTestDatabase/coretestdatabase/tables/dtos/DatabasechangelogDto.java
  _databases/fk_core_test_database/src/main/generated/org/fk/coreTestDatabase/coretestdatabase/tables/dtos/DatabasechangeloglockDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/DatabasechangelogDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/DatabasechangeloglockDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzBlobTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzCalendarsDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzCronTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzFiredTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzJobDetailsDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzLocksDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzPausedTriggerGrpsDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzSchedulerStateDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzSimpleTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzSimpropTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzTriggersDto.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductLangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/type/ProductTypeId.java
  settings.gradle
Due: fk-database1, fk-backend1, fk-backend2

trying table comments for codegen
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/Tables.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/Testshop.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/Lang.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/LangDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/interfaces/ILang.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/pojos/Lang.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/records/LangRecord.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/Tables.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/Testshop2.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/Product.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/dtos/ProductDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/interfaces/IProduct.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/pojos/Product.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/records/ProductRecord.java
  _databases/fk_database1/src/main/resources/database1/liquibase/feature-1234.xml
Due: fk-database1, fk-backend1, fk-backend2

move request and jooq core classes at better place
  _core/fk_core/src/main/java/org/fk/core/dao/AbstractDAO.java
  _core/fk_core/src/main/java/org/fk/core/jooq/FkGeneratedFilesPostProcessor.java
  _core/fk_core/src/main/java/org/fk/core/jooq/FkGeneratorStrategy.java
  _core/fk_core/src/main/java/org/fk/core/jooq/FkInterfaceFilePostProcessor.java
  _core/fk_core/src/main/java/org/fk/core/jooq/FkPojoFilePostProcessor.java
  _core/fk_core/src/main/java/org/fk/core/repository/AbstractRepository.java
  _core/fk_core/src/main/java/org/fk/core/request/RequestContext.java
  _core/fk_core/src/test/java/org/fk/core/dao/PostDAOTest.java
  _core/fk_core/src/test/java/org/fk/core/dao/ProductDAOTest.java
  _databases/fk_core_test_database/src/main/java/org/fk/coreTestDatabase/CoreTestDatabase.java
  _databases/fk_core_test_database/src/main/java/org/fk/coreTestDatabase/CoreTestDatabaseCodeGenerator.java
  _databases/fk_database1/src/main/java/org/fk/database1/Database1.java
  _databases/fk_database1/src/main/java/org/fk/database1/Database1CodeGenerator.java
  _databases/fk_database1/src/main/java/org/fk/database1/FkExecuteListener.java
  _databases/fk_database2/src/main/java/org/fk/database2/Database2.java
  _databases/fk_database2/src/main/java/org/fk/database2/Database2CodeGenerator.java
  _modules/fk_library/src/main/java/org/fk/library/controller/AuthorExamplesControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/PostControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductExamplesControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/exports/csv/ProductCsvExportControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/exports/json/ProductJsonExportControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/manager/CognitoLocalManager.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/quartz/TaskJob.java
Due: fk-database1, fk-database2, fk-backend1, fk-backend2

upgrade versions
  settings.gradle
Due: none

small fixes
  _core/fk_core/src/main/java/org/fk/core/dto/BookKeeper.java
  _core/fk_core/src/main/java/org/fk/core/dto/DTO.java
  _core/fk_core/src/main/java/org/fk/core/dto/DTOMapper.java
  _core/fk_core/src/main/java/org/fk/core/dto/DTOValidityScanner.java
  _core/fk_core/src/main/java/org/fk/core/manager/AbstractManager.java
  _core/fk_core/src/main/java/org/fk/core/repository/AbstractRepository.java
  _core/fk_core/src/main/java/org/fk/core/request/RequestContext.java
  _core/fk_core/src/main/java/org/fk/core/startup/Startup.java
  _core/fk_core/src/main/java/org/fk/core/testcontainers/FkMariaDb.java
  _core/fk_core/src/main/java/org/fk/core/testcontainers/FkPostgres.java
  _core/fk_core/src/main/java/org/fk/core/ulid/UlidGenerator.java
Due: fk-backend1, fk-backend2

sonarqube
  _databases/fk_database1/src/main/resources/database1/liquibase/changelog.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/feature-1122.sql
  _databases/fk_database1/src/main/resources/database1/liquibase/feature-1122.xml
  _services/fk_sonarqube/docker-compose-sonarqube.yml
  build.gradle
Due: fk-database1, fk-backend1, fk-backend2

fix all sonarlint warnings
  _core/fk_core/src/main/java/org/fk/core/dao/AbstractDAO.java
  _core/fk_core/src/main/java/org/fk/core/dto/DTOMapper.java
  _core/fk_core/src/main/java/org/fk/core/dto/DTOValidityScanner.java
  _core/fk_core/src/main/java/org/fk/core/exception/ValidationException.java
  _core/fk_core/src/main/java/org/fk/core/jooq/FkPojoFilePostProcessor.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/FkQueryJooqMapper.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/BigDecimalFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/FilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/FilterConditionProviderFactory.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/IntegerFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/LongFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/StringFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/UnsupportedFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/sorter/SortFieldFactory.java
  _core/fk_core/src/main/java/org/fk/core/query/model/FkFilter.java
  _core/fk_core/src/main/java/org/fk/core/query/model/FkFilterOperator.java
  _core/fk_core/src/main/java/org/fk/core/query/model/FkQuery.java
  _core/fk_core/src/main/java/org/fk/core/query/model/FkSorter.java
  _core/fk_core/src/main/java/org/fk/core/query/model/FkSorterOperator.java
  _core/fk_core/src/main/java/org/fk/core/repository/AbstractRepository.java
  _core/fk_core/src/main/java/org/fk/core/testcontainers/FkMariaDb.java
  _core/fk_core/src/main/java/org/fk/core/testcontainers/FkPostgres.java
  _core/fk_core/src/test/java/org/fk/core/dao/ProductDAOTest.java
  _core/fk_core/src/test/java/org/fk/core/query/model/FkQueryTest.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzBlobTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzCalendarsDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzJobDetailsDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzTriggersDto.java
  _databases/fk_database1/src/main/java/org/fk/database1/FkExecuteListener.java
  _modules/fk_library/src/main/java/org/fk/library/controller/AuthorExamplesControllerV1.java
  _modules/fk_library/src/main/java/org/fk/library/init/LibraryInit.java
  _modules/fk_library/src/main/java/org/fk/library/manager/AuthorManager.java
  _modules/fk_library/src/main/java/org/fk/library/repository/AuthorRepository.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductExamplesControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/init/ProductInit.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
  _services/fk_backend1/src/main/java/org/fk/backend1/exception/ValidationExceptionMapper.java
Due: fk-database1, fk-backend1, fk-backend2

small fixes
  _core/fk_core/src/main/java/org/fk/core/dao/AbstractDAO.java
  _core/fk_core/src/test/java/org/fk/core/dao/PostDAOTest.java
  _core/fk_core/src/test/java/org/fk/core/dao/ProductLangDAO.java
  _core/fk_core/src/test/java/org/fk/core/dao/ProductLangDAOTest.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1, fk-backend2

Path conditions:
  fk-cognitoLocal: any of: _services/fk_cognitoLocal/**/*
  fk-database1: any of: _databases/fk_database1/**/*
  fk-database2: any of: _databases/fk_database2/**/*
  fk-backend1: any of: _services/fk_backend1/**/*, _core/**/*, _modules/fk_product/**/*, _modules/fk_library/**/*, _databases/**/*
  fk-backend2: any of: _services/fk_backend2/**/*, _core/**/*, _modules/fk_library/**/*, _databases/**/*
