Repository funkrusher/fk-framework-quarkus-jooq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fk-cognitoLocal, fk-database1, fk-database2, fk-backend1, fk-backend2

fk-cognitoLocal:
  stage: triggers
  trigger:
    include: _services/fk_cognitoLocal/.gitlab-ci-fk_cognitoLocal.yml
    strategy: depend

fk-database1:
  stage: triggers
  trigger:
    include: _databases/fk_database1/.gitlab-ci-fk_database1.yml
    strategy: depend

fk-database2:
  stage: triggers
  trigger:
    include: _databases/fk_database2/.gitlab-ci-fk_database2.yml
    strategy: depend

fk-backend1:
  stage: triggers
  trigger:
    include: _services/fk_backend1/.gitlab-ci-fk_backend1.yml
    strategy: depend

fk-backend2:
  stage: triggers
  trigger:
    include: _services/fk_backend2/.gitlab-ci-fk_backend2.yml
    strategy: depend

stuff
  _core/fk_core/src/main/java/org/fk/core/jooq/FkPojoFilePostProcessor.java
  _core/fk_core/src/test/java/org/fk/core/repository/AbstractRepositoryTest.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/ClientDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/DatabasechangelogDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/DatabasechangeloglockDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/DatainitDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/LangDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/PostDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzBlobTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzCalendarsDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzCronTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzFiredTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzJobDetailsDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzLocksDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzPausedTriggerGrpsDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzSchedulerStateDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzSimpleTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzSimpropTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/RoleDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/TaskDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/UserDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/UserRoleDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/dtos/ProductDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/dtos/ProductLangDto.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ClientDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/LangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/PostDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductLangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/RoleDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/TaskDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserRoleDTO.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-database1, fk-backend1, fk-backend2

fixes
  _core/fk_core/src/test/java/org/fk/core/repository/AbstractRepositoryTest.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/Keys.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/Basic1.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/Basic2.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/Nested1.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/Basic1Dto.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/Basic2Dto.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/DatabasechangelogDto.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/DatabasechangeloglockDto.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/Nested1Dto.java
  _databases/fk_core_test_database/src/main/java/org/fk/core/test/database/CoreTestDatabaseConfigurationFactory.java
  _databases/fk_core_test_database/src/main/resources/coreTestDatabase/liquibase/coreTestDatabase.xml
  _databases/fk_database2/src/main/java/org/fk/database2/Database2ConfigurationFactory.java
Due: fk-database2, fk-backend1, fk-backend2

stuff
  _core/fk_core/src/main/java/org/fk/core/query/jooq/FkQueryJooqMapper.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1, fk-backend2

pdf fun
  _modules/fk_product/build.gradle
  _modules/fk_product/src/main/java/org/fk/product/controller/exports/pdf/ProductPdfExportControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/template/Templates.java
  _modules/fk_product/src/main/resources/templates/productsTemplate.html
  build.gradle
  settings.gradle
Due: fk-backend1

funny pdf image stuff
  _core/fk_core/build.gradle
  _core/fk_core/src/main/java/org/fk/core/flyingsaucer/MediaReplacedElementFactory.java
  _modules/fk_product/build.gradle
  _modules/fk_product/src/main/java/org/fk/product/controller/exports/pdf/ProductPdfExportControllerV1.java
  _modules/fk_product/src/main/resources/templates/productsTemplate.html
  _services/fk_backend1/src/main/resources/META-INF/resources/keyboardcat.jpg
Due: fk-backend1, fk-backend2

fix build
  _databases/fk_database2/src/main/generated/org/fk/database2/public_/tables/Author.java
  _databases/fk_database2/src/main/generated/org/fk/database2/public_/tables/dtos/AuthorDto.java
  _databases/fk_database2/src/main/generated/org/fk/database2/public_/tables/dtos/BookDto.java
  _databases/fk_database2/src/main/generated/org/fk/database2/public_/tables/dtos/DatabasechangelogDto.java
  _databases/fk_database2/src/main/generated/org/fk/database2/public_/tables/dtos/DatabasechangeloglockDto.java
  _databases/fk_database2/src/main/generated/org/fk/database2/public_/tables/dtos/DatainitDto.java
  _modules/fk_library/src/main/java/org/fk/library/dao/AuthorDAO.java
  _modules/fk_library/src/main/java/org/fk/library/dao/BookDAO.java
  _modules/fk_library/src/main/java/org/fk/library/dto/AuthorDTO.java
  _modules/fk_library/src/main/java/org/fk/library/dto/BookDTO.java
  _modules/fk_library/src/main/java/org/fk/library/repository/AuthorRepository.java
  _services/fk_backend1/docker-compose-backend1.yml
  _services/fk_backend1/src/main/docker/Dockerfile.jvm
  _services/fk_backend1/src/main/docker/Dockerfile.legacy-jar
  _services/fk_backend1/src/main/docker/Dockerfile.native
  _services/fk_backend1/src/main/docker/Dockerfile.native-micro
  _services/fk_backend2/src/main/java/org/fk/backend2/startup/Backend2Startup.java
Due: fk-database2, fk-backend1, fk-backend2

test
  _modules/fk_product/src/main/java/org/fk/product/controller/exports/pdf/ProductPdfExportControllerV1.java
  _modules/fk_product/src/main/resources/META-INF/resources/cmuntt.ttf
  _modules/fk_product/src/main/resources/templates/productsTemplate.html
Due: fk-backend1

add writers for csv,json,xlsx - xlsx streaming
  _core/fk_core/build.gradle
  _core/fk_core/src/main/java/org/fk/core/jackson/TransferCsvMapper.java
  _core/fk_core/src/main/java/org/fk/core/jackson/TransferJacksonProducer.java
  _core/fk_core/src/main/java/org/fk/core/jackson/TransferJsonMapper.java
  _core/fk_core/src/main/java/org/fk/core/transfer/csv/CsvWriter.java
  _core/fk_core/src/main/java/org/fk/core/transfer/json/JsonWriter.java
  _core/fk_core/src/main/java/org/fk/core/transfer/xlsx/XlsxWriter.java
  _modules/fk_product/src/main/java/org/fk/product/controller/exports/csv/ProductCsvExportControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/exports/json/ProductJsonExportControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/exports/xlsx/ProductXlsxExportControllerV1.java
  settings.gradle
Due: fk-backend1, fk-backend2

stuff
  _core/fk_core/src/main/java/org/fk/core/transfer/csv/CsvWriter.java
  _core/fk_core/src/main/java/org/fk/core/transfer/json/JsonWriter.java
  _core/fk_core/src/main/java/org/fk/core/transfer/xlsx/XlsxWriter.java
  _modules/fk_product/src/main/java/org/fk/product/controller/exports/xlsx/ProductXlsxExportControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductExportManager.java
Due: fk-backend1, fk-backend2

that was hard...
  _modules/fk_product/src/main/java/org/fk/product/controller/exports/pdf/ProductPdfExportControllerV1.java
  _modules/fk_product/src/main/resources/templates/productsTemplate.html
Due: fk-backend1

stuff
  _modules/fk_product/src/main/resources/templates/productsTemplate.html
Due: fk-backend1

stuff
  _modules/fk_product/src/main/java/org/fk/product/controller/exports/pdf/ProductPdfExportControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/message/ProductMessages.java
  _modules/fk_product/src/main/resources/messages/product_msg_de_DE.properties
  _modules/fk_product/src/main/resources/messages/product_msg_en_US.properties
  _modules/fk_product/src/main/resources/messages_de.properties
  _modules/fk_product/src/main/resources/messages_en.properties
  _modules/fk_product/src/main/resources/templates/productsTemplate.html
  _services/fk_backend1/src/main/resources/application.properties
  settings.gradle
Due: fk-backend1

refactoring and pdf stuff
  _core/fk_core/build.gradle
  _core/fk_core/src/main/java/org/fk/core/flyingsaucer/FkUserAgentCallback.java
  _core/fk_core/src/main/java/org/fk/core/manager/AbstractManager.java
  _core/fk_core/src/main/java/org/fk/core/transfer/json/JsonWriter.java
  _core/fk_core/src/main/java/org/fk/core/transfer/pdf/PdfWriter.java
  _databases/fk_database1/src/main/java/org/fk/database1/DSLContext1.java
  _databases/fk_database1/src/main/java/org/fk/database1/Database1.java
  _databases/fk_database2/src/main/java/org/fk/database2/DSLContext2.java
  _databases/fk_database2/src/main/java/org/fk/database2/Database2.java
  _modules/fk_product/src/main/java/org/fk/product/controller/PostControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerWithAuthV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductExamplesControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/exports/csv/ProductCsvExportControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/exports/json/ProductJsonExportControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/exports/pdf/ProductPdfExportControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/exports/xlsx/ProductXlsxExportControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/manager/PostManager.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductExportManager.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/qute/ProductMessages.java
  _modules/fk_product/src/main/java/org/fk/product/qute/ProductTemplates.java
  _modules/fk_product/src/main/resources/META-INF/resources/keyboardcat.jpg
  _modules/fk_product/src/main/resources/META-INF/resources/pdf.css
  _modules/fk_product/src/main/resources/templates/productsTemplate.html
  settings.gradle
Due: fk-database1, fk-database2, fk-backend1, fk-backend2

try repo executor as proxy pattern for count, stream, fetch, query
  _core/fk_core/src/main/java/org/fk/core/jooq/FkCustomJavaGenerator.java
  _core/fk_core/src/main/java/org/fk/core/jooq/FkJooqHelper.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/QueryExecutor.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/QueryFunction.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/QueryJooqMapper.java
  _core/fk_core/src/main/java/org/fk/core/repository/AbstractRepository.java
  _core/fk_core/src/test/java/org/fk/core/dto/BookKeeperTest.java
  _core/fk_core/src/test/java/org/fk/core/query/jooq/FkQueryJooqMapperTest.java
  _core/fk_core/src/test/java/org/fk/core/repository/AbstractRepositoryTest.java
  _modules/fk_library/src/main/java/org/fk/library/manager/AuthorManager.java
  _modules/fk_library/src/main/java/org/fk/library/repository/AuthorRepository.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1, fk-backend2

fix msg
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
Due: fk-backend1

small fixes
  _core/fk_core/src/main/java/org/fk/core/flyingsaucer/MediaReplacedElementFactory.java
  _databases/fk_database1/src/main/resources/database1/liquibase/1.X.X/feature-7322.xml
  _modules/fk_library/src/main/java/org/fk/library/dto/AuthorDTO.java
  _modules/fk_library/src/main/java/org/fk/library/dto/BookDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ClientDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/LangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/PostDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductLangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/RoleDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/TaskDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserRoleDTO.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
Due: fk-database1, fk-backend1, fk-backend2

stuff
  _core/fk_core/src/main/java/org/fk/core/transfer/xlsx/XlsxWriter.java
Due: fk-backend1, fk-backend2

banner
  _services/fk_backend1/src/main/resources/application.properties
  _services/fk_backend1/src/main/resources/banner.txt
Due: fk-backend1

test
  _core/fk_core/src/main/java/org/fk/core/query/jooq/QueryExecutor.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/QueryFunction.java
  _core/fk_core/src/main/java/org/fk/core/repository/AbstractRepository.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerWithAuthV1.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductPaginateDTO.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1, fk-backend2

test
  _core/fk_core/src/main/java/org/fk/core/dao/AbstractDAO.java
  _core/fk_core/src/main/java/org/fk/core/dto/DTO.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/dto/LangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductLangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/RoleDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserDTO.java
  _modules/fk_product/src/main/java/org/fk/product/manager/CognitoLocalManager.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/resources/templates/productsTemplate.html
Due: fk-backend1, fk-backend2

test
  _modules/fk_product/src/main/java/org/fk/product/dto/LangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductLangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/RoleDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserRoleDTO.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
Due: fk-backend1

test
  _modules/fk_product/src/main/java/org/fk/product/api/ClientAPI.java
  _modules/fk_product/src/main/java/org/fk/product/api/LangAPI.java
  _modules/fk_product/src/main/java/org/fk/product/api/PostAPI.java
  _modules/fk_product/src/main/java/org/fk/product/api/ProductAPI.java
  _modules/fk_product/src/main/java/org/fk/product/api/ProductLangAPI.java
  _modules/fk_product/src/main/java/org/fk/product/api/ProductPaginateAPI.java
  _modules/fk_product/src/main/java/org/fk/product/api/RoleAPI.java
  _modules/fk_product/src/main/java/org/fk/product/api/TaskAPI.java
  _modules/fk_product/src/main/java/org/fk/product/api/UserAPI.java
  _modules/fk_product/src/main/java/org/fk/product/api/UserRoleAPI.java
  _modules/fk_product/src/main/java/org/fk/product/controller/PostControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerWithAuthV1.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ClientDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/LangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/PostDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/RoleDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/TaskDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserRoleDTO.java
  _modules/fk_product/src/main/java/org/fk/product/manager/CognitoLocalManager.java
  _modules/fk_product/src/main/java/org/fk/product/manager/PostManager.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/quartz/TaskJob.java
  _modules/fk_product/src/main/java/org/fk/product/qute/ProductTemplates.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
  _modules/fk_product/src/main/resources/templates/productsTemplate.html
  _modules/fk_product/src/test/java/org/fk/product/controllers/ProductControllerV1Test.java
Due: fk-backend1

test
  _databases/fk_database1/build.gradle
  _modules/fk_product/build.gradle
Due: fk-database1, fk-backend1, fk-backend2

custom openapi specs for different apis as gradle task
  _services/fk_backend1/build.gradle
  _services/fk_backend1/src/main/resources/application-partnerapi.properties
  _services/fk_backend1/src/main/resources/application.properties
  _services/fk_backend1/src/main/resources/openapi.json
  _services/fk_backend1/src/main/resources/openapi.yaml
Due: fk-backend1

testing task dispatching
  _core/fk_core/src/main/java/org/fk/core/dto/DTOValidityScanner.java
  _core/fk_core/src/main/java/org/fk/core/jackson/ObjectMapperProducer.java
  _core/fk_core/src/main/java/org/fk/core/task/AbstractTask.java
  _core/fk_core/src/main/java/org/fk/core/task/AbstractTaskDTO.java
  _core/fk_core/src/main/java/org/fk/core/task/TaskDispatcher.java
  _modules/fk_product/src/main/java/org/fk/product/quartz/FiledItemTask.java
  _modules/fk_product/src/main/java/org/fk/product/quartz/FiledItemTaskDTO.java
  _modules/fk_product/src/main/java/org/fk/product/quartz/TaskJob.java
Due: fk-backend1, fk-backend2

refactoring actor dispatcher
  _core/fk_core/src/main/java/org/fk/core/actor/AbstractActor.java
  _core/fk_core/src/main/java/org/fk/core/actor/ActorDispatchBuilder.java
  _core/fk_core/src/main/java/org/fk/core/actor/ActorDispatcher.java
  _core/fk_core/src/main/java/org/fk/core/task/AbstractTask.java
  _core/fk_core/src/main/java/org/fk/core/task/AbstractTaskDTO.java
  _core/fk_core/src/main/java/org/fk/core/task/TaskDispatcher.java
  _modules/fk_product/src/main/java/org/fk/product/actor/FiledItemActor.java
  _modules/fk_product/src/main/java/org/fk/product/dto/FiledItemActorDTO.java
  _modules/fk_product/src/main/java/org/fk/product/quartz/FiledItemTask.java
  _modules/fk_product/src/main/java/org/fk/product/quartz/TaskJob.java
Due: fk-backend1, fk-backend2

actors should be able to disallowconcurrent if its needed sometimes
  _core/fk_core/src/main/java/org/fk/core/actor/AbstractActor.java
  _core/fk_core/src/main/java/org/fk/core/actor/ActorDispatchBuilder.java
  _modules/fk_product/src/main/java/org/fk/product/actor/FiledItemActor.java
  _modules/fk_product/src/main/java/org/fk/product/quartz/TaskJob.java
Due: fk-backend1, fk-backend2

testing with mtsl
  README.md
  _core/fk_core/src/main/java/org/fk/core/auth/ServerConfig.java
  ca-cert.pem
  ca-key.pem
  client-cert.pem
  client-key.pem
  client.csr
Due: fk-backend1, fk-backend2

testing stuff
  _core/fk_core/src/main/java/org/fk/core/auth/ApiKeyAuthenticationMechanism.java
  _core/fk_core/src/main/java/org/fk/core/auth/ApiKeyPrincipal.java
  _core/fk_core/src/main/java/org/fk/core/auth/ApiKeyValidator.java
Due: fk-backend1, fk-backend2

remote testing
  README.md
  _core/fk_core/src/main/java/org/fk/core/auth/ApiKeyAuthenticationMechanism.java
  _core/fk_core/src/main/java/org/fk/core/auth/ApiKeyPrincipal.java
  _core/fk_core/src/main/java/org/fk/core/auth/ApiKeyValidator.java
  _core/fk_core/src/main/java/org/fk/core/auth/ServerConfig.java
Due: fk-backend1, fk-backend2

test
  _modules/fk_product/src/main/java/org/fk/product/actor/FiledItemActor.java
  _modules/fk_product/src/main/java/org/fk/product/controller/PostControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerWithAuthV1.java
  _modules/fk_product/src/main/java/org/fk/product/dto/CreatePostResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/FiledItemActorDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/old/ClientDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/old/LangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/old/NestedProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/old/NestedProductLangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/old/NestedProductPaginateResultDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/old/NestedUserDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/old/PostDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/old/ProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/old/ProductLangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/old/RoleDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/old/TaskDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/old/UserDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/old/UserRoleDTO.java
  _modules/fk_product/src/main/java/org/fk/product/manager/PostManager.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/test/java/org/fk/product/controllers/ProductControllerV1Test.java
Due: fk-backend1

trying lombok
  _core/fk_core/build.gradle
  _databases/fk_core_test_database/build.gradle
  _modules/fk_library/build.gradle
  _modules/fk_product/build.gradle
  _modules/fk_product/src/main/java/org/fk/product/dto/CreateProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/qute/ProductTemplates.java
  _modules/fk_root/build.gradle
  _services/fk_backend1/build.gradle
  _services/fk_backend2/build.gradle
  _services/fk_cognitoLocal/build.gradle
  settings.gradle
Due: fk-cognitoLocal, fk-backend1, fk-backend2

test
  _core/fk_core/build.gradle
  _core/fk_core/src/main/java/org/fk/core/actor/AbstractActor.java
  _core/fk_core/src/main/java/org/fk/core/actor/ActorDispatchBuilder.java
  _core/fk_core/src/main/java/org/fk/core/actor/ActorDispatcher.java
  _core/fk_core/src/main/java/org/fk/core/dto/AbstractDTO.java
  _core/fk_core/src/main/java/org/fk/core/exception/ValidationException.java
  _core/fk_core/src/main/java/org/fk/core/jackson/ObjectMapperProducer.java
  _core/fk_core/src/main/java/org/fk/core/manager/AbstractManager.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/QueryExecutor.java
  _core/fk_core/src/main/java/org/fk/core/repository/AbstractRepository.java
  _core/fk_core/src/main/java/org/fk/core/transfer/csv/CsvWriter.java
  _core/fk_core/src/main/java/org/fk/core/transfer/json/JsonWriter.java
  _core/fk_core/src/main/java/org/fk/core/transfer/xlsx/XlsxWriter.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/dao/ProductDAO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/CreateProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/FiledItemActorDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UpdateProductRequest.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UpdateProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/test/java/org/fk/product/controllers/ProductControllerV1Test.java
  _services/fk_backend1/src/main/java/org/fk/backend1/exception/ValidationExceptionMapper.java
  settings.gradle
Due: fk-backend1, fk-backend2

test
  _core/fk_core/build.gradle
  _modules/fk_product/build.gradle
  _modules/fk_product/src/main/java/org/fk/product/dto/CreateProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/Example.java
  _modules/fk_product/src/main/java/org/fk/product/dto/Example2.java
  _modules/fk_product/src/main/java/org/fk/product/dto/FiledItemActorDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/LangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UpdateProductRequest.java
  _modules/fk_root/build.gradle
  settings.gradle
Due: fk-backend1, fk-backend2

testing patch
  _core/fk_core/src/main/java/org/fk/core/manager/AbstractManager.java
  _modules/fk_product/src/main/java/org/fk/product/actor/FiledItemActor.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/dto/Example.java
  _modules/fk_product/src/main/java/org/fk/product/dto/FiledItemActorDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/LangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/PatchProductRequest.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UpdateProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
Due: fk-backend1, fk-backend2

Path conditions:
  fk-cognitoLocal: any of: _services/fk_cognitoLocal/**/*
  fk-database1: any of: _databases/fk_database1/**/*
  fk-database2: any of: _databases/fk_database2/**/*
  fk-backend1: any of: _services/fk_backend1/**/*, _core/**/*, _modules/fk_product/**/*, _modules/fk_library/**/*, _databases/**/*
  fk-backend2: any of: _services/fk_backend2/**/*, _core/**/*, _modules/fk_library/**/*, _databases/**/*
