Repository funkrusher/fk-framework-quarkus-jooq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fk-cognitoLocal, fk-database1, fk-database2, fk-backend1, fk-backend2

fk-cognitoLocal:
  stage: triggers
  trigger:
    include: _services/fk_cognitoLocal/.gitlab-ci-fk_cognitoLocal.yml
    strategy: depend

fk-database1:
  stage: triggers
  trigger:
    include: _databases/fk_database1/.gitlab-ci-fk_database1.yml
    strategy: depend

fk-database2:
  stage: triggers
  trigger:
    include: _databases/fk_database2/.gitlab-ci-fk_database2.yml
    strategy: depend

fk-backend1:
  stage: triggers
  trigger:
    include: _services/fk_backend1/.gitlab-ci-fk_backend1.yml
    strategy: depend

fk-backend2:
  stage: triggers
  trigger:
    include: _services/fk_backend2/.gitlab-ci-fk_backend2.yml
    strategy: depend

rest patch ok
  README.md
  _core/fk_core/build.gradle
  _databases/fk_core_test_database/build.gradle
  _modules/fk_library/build.gradle
  _modules/fk_product/build.gradle
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/dto/CreateProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/Example.java
  _modules/fk_product/src/main/java/org/fk/product/dto/Example2.java
  _modules/fk_product/src/main/java/org/fk/product/dto/FiledItemActorDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/LangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/PatchProductRequest.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UpdateProductRequest.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/test/java/org/fk/product/controllers/ProductControllerV1Test.java
  _services/fk_backend1/build.gradle
  _services/fk_backend2/build.gradle
  _services/fk_cognitoLocal/build.gradle
  settings.gradle
Due: fk-cognitoLocal, fk-backend1, fk-backend2

use lombok only because the builder pattern on records makes everything better (please dont use it for more)
  _core/fk_core/build.gradle
  _modules/fk_product/build.gradle
  _modules/fk_product/src/main/java/org/fk/product/dto/CreatePostResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UpdateProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
  settings.gradle
Due: fk-backend1, fk-backend2

remove unecessary jackson module
  _core/fk_core/src/main/java/org/fk/core/jackson/ObjectMapperProducer.java
Due: fk-backend1, fk-backend2

testing
  _modules/fk_product/src/main/java/org/fk/post/controller/PostControllerV1.java
  _modules/fk_product/src/main/java/org/fk/post/dao/PostDAO.java
  _modules/fk_product/src/main/java/org/fk/post/dto/CreatePostResponse.java
  _modules/fk_product/src/main/java/org/fk/post/manager/PostManager.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerWithAuthV1.java
  _modules/fk_product/src/main/java/org/fk/product/dao/ClientDAO.java
  _modules/fk_product/src/main/java/org/fk/product/dao/LangDAO.java
  _modules/fk_product/src/main/java/org/fk/product/dao/ProductDAO.java
  _modules/fk_product/src/main/java/org/fk/product/dao/ProductLangDAO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/CreateProductRequest.java
  _modules/fk_product/src/main/java/org/fk/product/dto/CreateProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/FiledItemActorDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/LangResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductLangResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/QueryProductRequest.java
  _modules/fk_product/src/main/java/org/fk/product/dto/QueryProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/RoleResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserResponse.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/qute/ProductTemplates.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
  _modules/fk_product/src/main/java/org/fk/task/actor/FiledTaskActor.java
  _modules/fk_product/src/main/java/org/fk/task/dao/TaskDAO.java
  _modules/fk_product/src/main/java/org/fk/task/dto/FiledTaskActorDTO.java
  _modules/fk_product/src/main/java/org/fk/task/quartz/TaskJob.java
  _modules/fk_product/src/main/resources/templates/productsTemplate.html
Due: fk-backend1

test
  _core/fk_core/src/main/java/org/fk/framework/manager/AbstractManager.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/dto/CreateProductRequest.java
  _modules/fk_product/src/main/java/org/fk/product/dto/CreateProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/PatchProductRequest.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UpdateProductRequest.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
Due: fk-backend1, fk-backend2

try around with seek pagination
  _core/fk_core/src/main/java/org/fk/framework/query/model/FkQuery.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/dto/QueryProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1, fk-backend2

experiments
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerV1.java
Due: fk-backend1

crazy stuff
  _core/fk_core/src/main/java/org/fk/framework/transfer/xlsx/XlsxWriter.java
  _modules/fk_product/src/main/java/org/fk/HttpServerResponseOutputStream.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _services/fk_backend1/src/main/java/org/fk/backend1/ExceptionAwareResponseFilter.java
  _services/fk_backend1/src/main/java/org/fk/backend1/exception/SafeRuntimeExceptionMapper.java
Due: fk-backend1, fk-backend2

test
  _modules/fk_product/src/main/java/org/fk/product/dto/LangResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductLangResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/RoleResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserResponse.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1

test
  _modules/fk_product/src/main/java/org/fk/product/dto/CreateProductRequest.java
  _modules/fk_product/src/main/java/org/fk/product/dto/LangResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductLangResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/RoleResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserResponse.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1

testing mapstruct
  _core/fk_core/build.gradle
  _core/fk_core/src/test/java/org/fk/framework/dao/AbstractDAOTest.java
  _core/fk_core/src/test/java/org/fk/framework/repository/AbstractRepositoryTest.java
  _modules/fk_product/build.gradle
  _modules/fk_product/src/main/java/org/fk/product/dao/ProductDAO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/CreateProductRequest.java
  _modules/fk_product/src/main/java/org/fk/product/dto/LangResponse.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/mapper/ProductMapper.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
  _modules/fk_product/src/test/java/org/fk/product/controllers/ProductControllerV1Test.java
  settings.gradle
Due: fk-backend1, fk-backend2

testing mapstruct
  _modules/fk_product/src/main/java/org/fk/product/api/GetApiResponses.java
  _modules/fk_product/src/main/java/org/fk/product/controller/ProductControllerV1.java
  _modules/fk_product/src/main/java/org/fk/product/dao/ProductDAO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/CreateProductRequest.java
  _modules/fk_product/src/main/java/org/fk/product/dto/CreateProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/LangResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/PatchProductRequest.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductLangResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/QueryProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/RoleResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UpdateProductRequest.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UpdateProductResponse.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserResponse.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/mapper/ProductMapper.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
  _modules/fk_product/src/main/resources/templates/productsTemplate.html
  _modules/fk_product/src/test/java/org/fk/product/controllers/ProductControllerV1Test.java
Due: fk-backend1

test
  _modules/fk_product/src/main/java/org/fk/product/mapper/ProductMapper.java
Due: fk-backend1

Path conditions:
  fk-cognitoLocal: any of: _services/fk_cognitoLocal/**/*
  fk-database1: any of: _databases/fk_database1/**/*
  fk-database2: any of: _databases/fk_database2/**/*
  fk-backend1: any of: _services/fk_backend1/**/*, _core/**/*, _modules/fk_product/**/*, _modules/fk_library/**/*, _databases/**/*
  fk-backend2: any of: _services/fk_backend2/**/*, _core/**/*, _modules/fk_library/**/*, _databases/**/*
