Repository funkrusher/fk-framework-quarkus-jooq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fk-cognitoLocal, fk-database1, fk-database2, fk-backend1, fk-backend2

.gitlab-ci.yml:

stages:
  - triggers

fk-cognitoLocal:
    stage: triggers
    trigger:
        include: _services/fk_cognitoLocal/.gitlab-ci-fk_cognitoLocal.yml
        strategy: depend
    rules:
        - changes: [_services/fk_cognitoLocal/**/*]

fk-database1:
    stage: triggers
    trigger:
        include: _databases/fk_database1/.gitlab-ci-fk_database1.yml
        strategy: depend
    rules:
        - changes: [_databases/fk_database1/**/*]

fk-database2:
    stage: triggers
    trigger:
        include: _databases/fk_database2/.gitlab-ci-fk_database2.yml
        strategy: depend
    rules:
        - changes: [_databases/fk_database2/**/*]

fk-backend1:
    stage: triggers
    trigger:
        include: _services/fk_backend1/.gitlab-ci-fk_backend1.yml
        strategy: depend
    rules:
        - changes: [_services/fk_backend1/**/*, _core/**/*, _modules/fk_product/**/*, _modules/fk_library/**/*, _databases/**/*]

fk-backend2:
    stage: triggers
    trigger:
        include: _services/fk_backend2/.gitlab-ci-fk_backend2.yml
        strategy: depend
    rules:
        - changes: [_services/fk_backend2/**/*, _core/**/*, _modules/fk_library/**/*, _databases/**/*]

test
  _core/fk_core/src/main/java/org/fk/core/init/ModuleInitializer.java
  _core/fk_core/src/main/java/org/fk/core/init/ModuleInitializerFunction.java
  _core/fk_core/src/main/java/org/fk/core/startup/Startup.java
  _databases/fk_database1/src/main/resources/database1/liquibase/feature-3823.xml
  _databases/fk_database2/src/main/resources/database2/liquibase/feature-3823.xml
  _modules/fk_library/src/main/java/org/fk/library/init/LibraryInit.java
  _modules/fk_library/src/main/java/org/fk/library/init/LibraryModuleInit.java
  _modules/fk_product/src/main/java/org/fk/product/init/ProductInit.java
  _modules/fk_product/src/main/java/org/fk/product/init/ProductModuleInit.java
  _modules/fk_root/build.gradle
  _modules/fk_root/src/main/java/org/fk/root/init/RootModuleInit.java
  _modules/fk_root/src/main/resources/META-INF/beans.xml
  _modules/fk_root/src/main/resources/application.properties
  _services/fk_backend1/build.gradle
  settings.gradle
Due: fk-database1, fk-database2, fk-backend1, fk-backend2

test
  _core/fk_core/src/main/java/org/fk/core/query/jooq/FkQueryJooqMapper.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/BigDecimalFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/FilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/IntegerFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/LongFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/StringFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/UnsupportedFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/model/FkFilterOperator.java
  _core/fk_core/src/main/java/org/fk/core/query/model/FkQuery.java
  _core/fk_core/src/test/java/org/fk/core/dao/AbstractDAOTest.java
  _core/fk_core/src/test/java/org/fk/core/query/jooq/FkQueryJooqMapperTest.java
Due: fk-backend1, fk-backend2

tests
  _core/fk_core/src/main/java/org/fk/core/exception/InvalidDataException.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/FilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/FilterConditionProviderFactory.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/IntegerFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/LocalDateTimeFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/LongFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/StringFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/UnsupportedFilterConditionProvider.java
  _core/fk_core/src/test/java/org/fk/core/dao/AbstractDAOTest.java
  _core/fk_core/src/test/java/org/fk/core/dto/BookKeeperTest.java
  _core/fk_core/src/test/java/org/fk/core/query/jooq/FkQueryJooqMapperTest.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/Basic1.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/Nested1.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/Basic1Dto.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/Nested1Dto.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/interfaces/IBasic1.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/interfaces/INested1.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/pojos/Basic1.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/pojos/Nested1.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/records/Basic1Record.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/records/Nested1Record.java
  _databases/fk_core_test_database/src/main/resources/coreTestDatabase/liquibase/coreTestDatabase.sql
Due: fk-backend1, fk-backend2

use liquibase context and split data vs schema migrations
  README.md
  _core/fk_core/src/main/java/org/fk/core/liquibase/FkLiquibase.java
  _databases/fk_core_test_database/src/main/java/org/fk/core/test/database/CoreTestDatabaseTestcontainer.java
  _databases/fk_core_test_database/src/main/resources/coreTestDatabase/liquibase/changelog.xml
  _databases/fk_core_test_database/src/main/resources/coreTestDatabase/liquibase/coreTestDatabase.sql
  _databases/fk_core_test_database/src/main/resources/coreTestDatabase/liquibase/coreTestDatabase.xml
  _databases/fk_database1/src/main/java/org/fk/database1/Database1Testcontainer.java
  _databases/fk_database1/src/main/resources/database1/liquibase/1.X.X/1.X.X.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/1.X.X/feature-1234.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/1.X.X/feature-7321.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/1.X.X/feature-7322.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/2.X.X/2.X.X.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/2.X.X/feature-1122.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/2.X.X/feature-3721.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/2.X.X/feature-3823.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/changelog.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/feature-1122.sql
  _databases/fk_database2/src/main/java/org/fk/database2/Database2Testcontainer.java
  _databases/fk_database2/src/main/resources/database2/liquibase/feature-1000.xml
  _databases/fk_database2/src/main/resources/database2/liquibase/feature-3823.xml
  _services/fk_backend1/src/main/resources/templates/application-prod.properties
  _services/fk_backend1/src/main/resources/templates/application.properties
  _services/fk_backend2/src/main/resources/templates/application-prod.properties
  _services/fk_backend2/src/main/resources/templates/application.properties
Due: fk-database1, fk-database2, fk-backend1, fk-backend2

new environments need only DDL, and no DML but should mark DML as applied in changelog for further correctness
  _databases/fk_database1/src/main/resources/database1/liquibase/1.X.X/feature-1234.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/2.X.X/feature-1122.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/changelog_without_ddl.xml
Due: fk-database1, fk-backend1, fk-backend2

small fix
  _databases/fk_database1/src/main/resources/database1/liquibase/1.X.X/feature-1234.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/2.X.X/feature-1122.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/changelog_without_dml.xml
Due: fk-database1, fk-backend1, fk-backend2

liquibase migrator (makes gradle file smaller)
  README.md
  _core/fk_core/src/main/java/org/fk/core/liquibase/FkLiquibase.java
  _services/fk_backend1/build.gradle
  _services/fk_backend2/build.gradle
Due: fk-backend1, fk-backend2

refactor repository layer, only one statement necessary
  _core/fk_core/src/main/java/org/fk/core/query/jooq/FkQueryJooqMapper.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/BigDecimalFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/FilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/IntegerFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/LocalDateTimeFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/LongFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/StringFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/UnsupportedFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/model/FkFilterOperator.java
  _core/fk_core/src/main/java/org/fk/core/query/model/FkQuery.java
  _core/fk_core/src/main/java/org/fk/core/repository/AbstractRepository.java
  _core/fk_core/src/test/java/org/fk/core/query/jooq/FkQueryJooqMapperTest.java
  _core/fk_core/src/test/java/org/fk/core/repository/AbstractRepositoryTest.java
  _modules/fk_library/src/main/java/org/fk/library/manager/AuthorManager.java
  _modules/fk_library/src/main/java/org/fk/library/repository/AuthorRepository.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductLangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
  _services/fk_backend1/build.gradle
Due: fk-backend1, fk-backend2

small fix
  _core/fk_core/src/main/java/org/fk/core/repository/AbstractRepository.java
  _core/fk_core/src/test/java/org/fk/core/repository/AbstractRepositoryTest.java
  _modules/fk_library/src/main/java/org/fk/library/repository/AuthorRepository.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1, fk-backend2

fix
  _core/fk_core/src/test/java/org/fk/core/query/model/FkQueryTest.java
Due: fk-backend1, fk-backend2

fix
  _core/fk_core/src/main/java/org/fk/core/repository/AbstractRepository.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1, fk-backend2

high performance multi-value batch inserts and upserts
  _core/fk_core/src/main/java/org/fk/core/dao/AbstractDAO.java
  _core/fk_core/src/test/java/org/fk/core/dao/AbstractDAOTest.java
  _core/fk_core/src/test/java/org/fk/core/dto/BookKeeperTest.java
  _core/fk_core/src/test/java/org/fk/core/query/jooq/FkQueryJooqMapperTest.java
Due: fk-backend1, fk-backend2

tests
  _core/fk_core/src/main/java/org/fk/core/dao/AbstractDAO.java
  _core/fk_core/src/test/java/org/fk/core/dao/AbstractDAOTest.java
Due: fk-backend1, fk-backend2

gitignore
  .gitignore
Due: none

remove template-config concept, as a static app-config is better
  README.md
  _services/fk_backend1/docker-compose-backend1.yml
  _services/fk_backend1/src/main/resources/application.properties
  _services/fk_backend2/src/main/resources/application.properties
Due: fk-backend1, fk-backend2

remove templates
  _services/fk_backend1/docker-compose-backend1.yml
  _services/fk_backend2/docker-compose-backend2.yml
  _services/fk_backend2/src/main/resources/application.properties
  _services/fk_backend2/src/main/resources/templates/application-prod.properties
  _services/fk_backend2/src/main/resources/templates/application.properties
Due: fk-backend1, fk-backend2

changes
  _core/fk_core/src/main/resources/application.properties
  _modules/fk_library/src/main/resources/application.properties
  _modules/fk_product/src/main/resources/application.properties
  _modules/fk_root/src/main/resources/application.properties
Due: fk-backend1, fk-backend2

fix
  _core/fk_core/src/test/java/org/fk/core/repository/AbstractRepositoryTest.java
  settings.gradle
Due: fk-backend1, fk-backend2

fixes
  _core/fk_core/src/main/java/org/fk/core/cognito/CognitoLocalSetup.java
  _core/fk_core/src/main/java/org/fk/core/dto/BookKeeper.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/FkQueryJooqMapper.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/BigDecimalFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/IntegerFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/LocalDateTimeFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/query/jooq/filter/LongFilterConditionProvider.java
  _core/fk_core/src/main/java/org/fk/core/startup/CoreStartup.java
  _modules/fk_library/src/main/java/org/fk/library/repository/AuthorRepository.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductLangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
  _services/fk_backend1/src/main/java/org/fk/backend1/startup/Backend1Startup.java
  _services/fk_backend2/src/main/java/org/fk/backend2/startup/Backend2Startup.java
  qodana.yaml
Due: fk-backend1, fk-backend2

multiset example for 1:1 containing 1:n
  _core/fk_core/src/main/java/org/fk/core/liquibase/FkLiquibase.java
  _core/fk_core/src/main/java/org/fk/core/repository/AbstractRepository.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/User.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/Keys.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/Product.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/dtos/ProductDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/interfaces/IProduct.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/pojos/Product.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/records/ProductRecord.java
  _databases/fk_database1/src/main/java/org/fk/database1/Database1ConfigurationFactory.java
  _databases/fk_database1/src/main/resources/database1/liquibase/1.X.X/1.X.X.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/1.X.X/feature-1122.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/1.X.X/feature-1234.xml
  _databases/fk_database1/src/main/resources/database1/liquibase/2.X.X/2.X.X.xml
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserDTO.java
  _modules/fk_product/src/main/java/org/fk/product/init/ProductBasicDataInit.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
  _services/fk_backend1/src/main/resources/application.properties
  settings.gradle
Due: fk-database1, fk-backend1, fk-backend2

experimenting with multiset and ad hoc mapper
  _core/fk_core/src/main/java/org/fk/core/repository/AbstractRepository.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1, fk-backend2

testing
  _modules/fk_product/src/main/java/org/fk/product/dto/RoleDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserDTO.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1

testing2
  _core/fk_core/src/main/java/org/fk/core/repository/AbstractRepository.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductPaginateDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserDTO.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1, fk-backend2

test
  _core/fk_core/src/main/java/org/fk/core/repository/AbstractRepository.java
  _databases/fk_database1/src/main/java/org/fk/database1/Database1ConfigurationFactory.java
  _modules/fk_product/src/main/java/org/fk/product/dto/LangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductLangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/RoleDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserDTO.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-database1, fk-backend1, fk-backend2

cleanup
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1

test
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1

wrap experiment
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1

code is getting to wide
  .editorconfig
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1

codegen should generate constructors for use in typesafe-api of jooq
  _core/fk_core/src/main/java/org/fk/core/jooq/FkPojoFilePostProcessor.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/Basic1Dto.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/Basic2Dto.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/DatabasechangelogDto.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/DatabasechangeloglockDto.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/Nested1Dto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/ClientDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/DatabasechangelogDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/DatabasechangeloglockDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/DatainitDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/LangDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/PostDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzBlobTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzCalendarsDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzCronTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzFiredTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzJobDetailsDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzLocksDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzPausedTriggerGrpsDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzSchedulerStateDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzSimpleTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzSimpropTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/RoleDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/TaskDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/UserDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/UserRoleDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/dtos/ProductDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/dtos/ProductLangDto.java
  _databases/fk_database2/src/main/generated/org/fk/database2/public_/tables/Author.java
  _databases/fk_database2/src/main/generated/org/fk/database2/public_/tables/Book.java
  _databases/fk_database2/src/main/generated/org/fk/database2/public_/tables/dtos/AuthorDto.java
  _databases/fk_database2/src/main/generated/org/fk/database2/public_/tables/dtos/BookDto.java
  _databases/fk_database2/src/main/generated/org/fk/database2/public_/tables/dtos/DatabasechangelogDto.java
  _databases/fk_database2/src/main/generated/org/fk/database2/public_/tables/dtos/DatabasechangeloglockDto.java
  _databases/fk_database2/src/main/generated/org/fk/database2/public_/tables/dtos/DatainitDto.java
Due: fk-database1, fk-database2, fk-backend1, fk-backend2

test
  _core/fk_core/src/main/java/org/fk/core/jooq/FkPojoFilePostProcessor.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/Basic1Dto.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/Basic2Dto.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/DatabasechangelogDto.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/DatabasechangeloglockDto.java
  _databases/fk_core_test_database/src/main/generated/org/fk/core/test/database/coretestdatabase/tables/dtos/Nested1Dto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/ClientDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/DatabasechangelogDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/DatabasechangeloglockDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/DatainitDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/LangDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/PostDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzBlobTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzCalendarsDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzCronTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzFiredTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzJobDetailsDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzLocksDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzPausedTriggerGrpsDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzSchedulerStateDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzSimpleTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzSimpropTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/QrtzTriggersDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/RoleDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/TaskDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/UserDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/dtos/UserRoleDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/dtos/ProductDto.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/dtos/ProductLangDto.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ClientDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/LangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/PostDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductLangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductPaginateDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/RoleDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/TaskDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserRoleDTO.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-database1, fk-backend1, fk-backend2

experiments
  _core/fk_core/src/main/java/org/fk/core/jooq/FkJooqHelper.java
  _core/fk_core/src/main/java/org/fk/core/repository/AbstractRepository.java
  _modules/fk_product/src/main/java/org/fk/product/manager/ProductManager.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1, fk-backend2

experiments
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1

experiments
  _core/fk_core/src/main/java/org/fk/core/jooq/FkGeneratorStrategy.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/Client.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/Lang.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/QrtzJobDetails.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/QrtzTriggers.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/Role.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop/tables/User.java
  _databases/fk_database1/src/main/generated/org/fk/database1/testshop2/tables/Product.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-database1, fk-backend1, fk-backend2

refactor default repository approach because of tuple22 limit
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/ProductLangDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/RoleDTO.java
  _modules/fk_product/src/main/java/org/fk/product/dto/UserDTO.java
  _modules/fk_product/src/main/java/org/fk/product/repository/ProductRepository.java
Due: fk-backend1
